<!DOCTYPE html>
<html>
<head>
  <title>uploadr</title>
  <link rel="stylesheet" type="text/css" href="/uploadr.css">
</head>
<body>
  <div class="drop-target" id="drop-target">
    <form action="/file" method="post" id="form">
      <p><input type="file" name="file" id="file" /></p>
      <% @presets.each do |id, preset| %>
        <p><label><input <% if id == @default_preset%> checked=checked <% end %> name="preset" type="radio" value="<%= id %>"><%= preset[:name] %></label></p>
      <% end %>
      <p>
        <input type="text" name="filename" id="filename"> . <input type="text" readonly="readonly" id="file-extension" size=5>
      </p>
      <p><button type="submit">Upload</button></p>
    </form>
    <p>
      <img src="/drop-here.png" id="preview-image" class="preview-image">
    </p>
  </div>
  <div id="result" style="display: none;">
    <p><input type="text" readonly="readonly" id="file-url" size=100><button id="copy-to-clipboard">Copy to Clipboard</button></p>
    <p><button id="done">Okay</button></p>
  </div>
  <script type="text/javascript" src="/uploadr.js"></script>
</body>
</html>
